$border-gray-light				    : #E2E5EA;
$bg-accents-lighter						: #FFFFFF;
$text-and-icons-light					: #5C6470;
$text-and-icons-lighter				: #7F8796;
$text-and-icons-more-lighter	: #ffffff;
$bg-accents-dark							: #F7FCFF;